* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-link {
    text-decoration: none;
    color: white !important;
}

.nav-link:hover {
    color: gray !important;
}

.section1 {
    transition: .1s;
    padding: 100px;
    background-size: cover;
    background-position: center;
}

.content {
    margin-top: 80px;
    margin-left: 2px;
}

.content .text-area h6 {
    margin-bottom: 30px;
    font-size: 12px;
    letter-spacing: 1px;
}

.content .text-area h1 {
    margin-bottom: 6px;
    font-size: 70px;
    letter-spacing: 1px;
}

.content .text-area .one {
    text-transform: none;
    margin-bottom: 20px;
    font-size: 12px;
    letter-spacing: 1px;
}

.content .text-area .two {
    text-transform: none;
    margin-bottom: 40px;
    font-size: 12px;
    letter-spacing: 1px;
}

.content .text-area a {
    padding: 17px 28px;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 1px;
}

.thumbSection {
    padding-top: 3%;
    color: var(--colorWhite);
}

.thumbTitle {
    font-size: 16px;
    line-height: 14px;
    font-weight: 500;
    margin: 0 4% 12px;
}

.thumbTiles.swiper-container {
    padding: 0 4%;
}

.thumbTile {
    width: 20%;
}

.thumbTile__image {
    width: 100%;
    border-radius: var(--tileBorderRadius);
}

.thumbTiles .swiper-button-prev,
.thumbTiles .swiper-button-next {
    height: 20%;
    width: 4%;
    width: calc(4% - 5px);
    top: 0;
    bottom: 0;
    margin: 0;
    background-color: rgba(20, 20, 20, 0.5);
}

.thumbTiles .swiper-button-prev {
    left: 0;
    border-top-right-radius: var(--tileBorderRadius);
    border-bottom-right-radius: var(--tileBorderRadius);
}

.thumbTiles .swiper-button-next {
    right: 0;
    border-top-left-radius: var(--tileBorderRadius);
    border-bottom-left-radius: var(--tileBorderRadius);
}

.thumbTiles .swiper-button-prev::after,
.thumbTiles .swiper-button-next::after {
    color: #fff;
    font-size: 4vw;
    font-weight: bold;
    transition: transform 0.1s ease-out;
}

.thumbTiles .swiper-button-prev::after,
.thumbTiles .swiper-button-next::after {
    display: none;
    font-size: 2.4vw;
}

.thumbTiles .swiper-button-prev:hover::after,
.thumbTiles .swiper-button-next:hover::after {
    transform: scale(1.25);
}

.thumbTiles:hover .swiper-button-prev::after,
.thumbTiles:hover .swiper-button-next::after {
    display: block;
}

footer ul li {
    font-size: 12px !important;
}

span {
    display: inline;
}

.thumbTile__image {
    display: block;
    opacity: 1;
    transition: .5s ease-out;
    backface-visibility: hidden;
}

.ThumbTile-text {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.swiper-slide:hover .thumbTile__image {
    opacity: 0.3;
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.swiper-slide:hover .ThumbTile-text {
    opacity: 1;
}

.text {
    color: white;
}

.fs-6 {
    font-size: 15px;
}

.fs-7 {
    font-size: 10px;
}

.text-gray {
    color: rgb(219, 213, 213);
}

a:hover {
    color: white !important;
}